---
---

@import "{{ site.theme }}";

.inner {
  width: 840px;
  margin: 0 auto;
}

pre.highlight {
  max-height: 200px; /* Change to your desired max height */
  overflow-y: scroll;
}

a:hover {
    text-decoration: underline;
}

hr {
  height: 1px;
  padding-bottom: 0em;
  margin-top: 0em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

.mydivider {
    border: none;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    -webkit-border-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    -moz-border-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    border-image-slice: 1;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 10px;
}

ul {
  padding-left:30px;
  margin-bottom: 20px;
}
